h1{
    color: orange;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: red;
    font-size: 32px;
}
.brown{
    color: brown;
}
.green{
    color: green;
}
.orange{
    color: orange;
}